@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

.html-to-react {
  h1 {
    font-family: "Lexend";
    font-size: 1.9em;
    font-weight: bold;
  }
  h2 {
    font-family: "Lexend";
    font-size: 1.9em;
    font-weight: bold;
  }
  h3 {
    font-family: "Lexend";
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
  }
  h4 {
    font-family: "Lexend";
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
  }
}
