@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

.html-to-react {
  ol {
    font-family: "Libre Baskerville";
    font-size: 1.1250em;
    line-height: 2.375em;
    font-weight: 400;
  }
  h1 {
    font-family: "Lexend";
    font-size: 1.9em;
    font-weight: bold;
  }
  h2 {
    font-family: "Lexend";
    font-size: 1.9em;
    font-weight: bold;
  }
  h3 {
    font-family: "Lexend";
    font-size: 1.4em;
    font-weight: bold;
  }
  h4 {
    font-family: "Lexend";
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
  }
  a {
    color: black;
    &:hover {
      color: #ff0033;
    }
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.slider-mod {
  width: 100%;
}
