@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
}

#main {
  overflow: hidden;
}

.slick-prev::before,
.slick-next::before {
  color: #000 !important;
}
